<footer class="center">
  <div class="measure">
    <small>
      Twitter: <a style="margin-right:10px;" href="https://twitter.com/ben_layer">@ben_layer</a>
      Website: <a style="margin-right:10px;" href="http://benlayer.com">benlayer.com</a>
      Github: <a style="margin-right:10px;" href="https://github.com/benlayer291">benlayer291</a>.
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
